body {
  background-color: #FF6555;
  font-family: 'Gloria Hallelujah', cursive;
  }
  
header {height: 100px;
  color: #FF1555
  font-family: times;
}

main {
  color: #7129FF
}

h1 {
  margin: 0
}

.wrapper {
  width: 500px;
  margin: auto;
}

img { width: 100%; }

}


footer {
  color: #09B1EA
}
