body {
  background-color: #FF6555;
  font-family: 'Gloria Hallelujah', cursive;
  }
  
header {height: 100px;
  color: #D6B1EA
}

main {height: 50px;
  color: #09B1EA
}

footer {height: 30px;
  color: #09B1EA
}

h1 {
  margin: 0;
}

.wrapper {
  width: 500px;
  margin: auto;
}

img { width: 100%; }

main {
    color: blue;
}

h1 {
    color: green;
}
